<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Bean store</title>
</head>
<body>
    <p><a href="/addItems">Add new item</a></p>
    <p><a href="/search">Search item</a></p>
    <h1>Here is the list of current available items:</h1>
    <ul>
        <% for (let item of items) { %>
            <li><a href="/store/item/<%= item._id %>"><%= item.name %></a></li>
        <% } %>
    </ul>
</body>
</html>